# Python bytecode
**/__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/
ENV/

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Metadata
.DS_Store (สำหรับ Mac)